body {
  background-color: #f9fff2; }

.todo_list_vertical {
  display: flex; }
  .todo_list_vertical .todo_list {
    float: left;
    margin: 3px 10px 0 0; }
    .todo_list_vertical .todo_list .todo_comment {
      font-size: 20px; }

.mgTop05 {
  margin-top: 5px; }

.mgTop10 {
  margin-top: 10px; }

.pgTop05 {
  padding-top: 5px; }

.pgTop10 {
  padding-top: 10px; }

.btn a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  box-shadow: 5px 5px 0 #3d9ec8;
  transition: 0.3s; }
  .btn a:hover {
    text-decoration: none;
    background-color: #a0c4d3;
    box-shadow: 0 0 0; }
